.Mobile {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-columns: auto; /* 1열 */
    grid-template-rows: auto 1fr auto; /* 핵심: 중간 행을 1fr로 남는 높이 채우기 */

    height: 100dvh; /* 뷰포트 높이 기준 */
    overflow: hidden;
    margin: 0;
    padding: 0;
}
