.ImageTrigger img {
    width: var(--width, 100%);
    aspect-ratio: 1/1;
    border-radius: 3%;
    object-fit: cover;
    cursor: pointer;
}

.ImageModalBackdrop {
    z-index: 1200;
}

.ImageModalContent {
    z-index: 1201;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: contain;
        border-radius: 8px;
    }
}
