.ImageTrigger img {
    width: var(--width, 100%);
    aspect-ratio: 1/1;
    border-radius: 3%;
    object-fit: cover;
}

.ImageModalBackdrop {
    z-index: 1200;
}

.ImageModalContent {
    z-index: 1201;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
