.Summray {
}

.Item {
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .Title {
        color: var(--Gray2);
        font-size: 15px;
    }
    .Value {
        color: var(--Black1);
        font-size: 20px;
        font-weight: 500;
    }

    .infoWrapper {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .Right {
        display: flex;
        gap: 32px;
        justify-content: center;
    }

    .Dday {
        background-color: var(--Gray5);
        padding: 6px13px;
    }
}

.Separator {
    background-color: var(--Gray5);
    width: 1px;
    height: 52px;
}
