.SideModalFormLine {
    padding: 8px 0;
    border-bottom: 1px solid #e2e2e2;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    min-height: 35px;

    &.NoBorder {
        border: none;
    }
    &.AlignColumn {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .Label {
        min-width: 150px;
    }

    .Children {
        width: 100%;
    }
}
