.Root {
    display: grid;
    grid-template-columns: var(--granter-section-field-label-width, 160px) minmax(0, 1fr);
    gap: 16px;
    align-items: center;
    padding: 14px 0;
}

.Root[data-align='start'] {
    align-items: start;
}

.Root[data-divider='true'] {
    border-bottom: 1px solid #edf2f7;
}

.Label {
    min-width: 0;
    color: #111827;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.Content {
    min-width: 0;
    width: 100%;
}

.Value {
    color: var(--granter-gray-900);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    word-break: break-word;
}

@media (max-width: 960px) {
    .Root {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
