.TableWrapper {
    width: 100%;
    overflow-x: auto;
    border-radius: 8px;

    .Table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        font-size: 15px;
    }

    .Thead {
    }

    .Tbody {
    }

    .Row {
        &.RowEven {
            background-color: var(--White1);
        }

        &.RowOdd {
            background-color: var(--Gray7);
        }

        .HeaderCell {
            padding: 8px 12px;
            font-weight: 400;
            color: var(--Gray2);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .Cell {
            padding: 8px 12px;
            vertical-align: middle;
            word-break: break-all;
        }
    }

    .EmptyRow {
    }

    .EmptyCell {
        padding: 16px 12px;
        text-align: center;
        color: var(--Gray2);
    }
}
