.Item {
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    &:hover {
        background-color: var(--Primary2);
        color: var(--Primary1);

        // 폰트 크기가 바뀌는것에 따라 layout 이 바뀌어서 주석처리
        // font-weight: 500;
    }
}
