.MutedIconLabel {
    display: inline-flex;
    align-items: center;
    width: 100%;

    gap: var(--label-gap, 8px);

    color: var(--Gray1);
    font-size: 14px;
    font-weight: 500;

    white-space: nowrap;
}

.Row {
    flex-direction: row;
}

.Column {
    flex-direction: column;
    align-items: flex-start;
}

.Icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--Gray3);

    width: 20px;
    height: 20px;

    font-size: 20px;
}

.Text {
    line-height: 1;
}

.Required {
    color: var(--Red1, #ef4444);
    font-weight: 400;
}

.LabelLine {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.Content {
    min-width: 0;
    width: 100%;
}
