.Item {
    // font-size: 14px;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;

    &:hover {
        background-color: var(--Primary2);
        color: var(--Primary1);
        font-weight: 500;
    }
}
