.InputListWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.InputItem {
    border-radius: 8px;
    padding: 14px 16px;
    height: 46px;
    border: 1px solid var(--Gray5);
    outline: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    box-sizing: border-box;

    &:focus-within {
        border: 1px solid var(--Primary1);
    }

    &.Error {
        border: 1px solid var(--Red1);
        color: var(--Red1);
    }

    &.Success {
        border: 1px solid var(--Green1);
        color: var(--Green1);
    }

    &.Disabled {
        background-color: var(--Gray6);
    }

    input {
        border: none;
        outline: none;
        width: 100%;
        height: 18px;
        background-color: inherit;

        font-size: 15px;
        color: var(--Black1);

        &::placeholder {
            color: var(--Gray3);
        }
    }
}

.RemoveButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--Gray3);
    flex-shrink: 0;

    &:hover {
        color: var(--Gray1);
    }
}

.Helper {
    font-size: 13px;
    margin-top: 4px;

    .Error & {
        color: var(--Red1);
    }

    .Success & {
        color: var(--Green1);
    }
}
