.ProfileDropdownContent {
    background-color: var(--White1);
    border-radius: 8px;
    padding: 8px;
    border: 1px solid var(--Gray5);
    z-index: 10000;

    font-size: 13px;
    font-weight: 400;
}
