/* CheckBoxDropdown/Item/Item.module.scss */
.Item {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 12px;
    cursor: pointer;
    user-select: none;
}

.Item:hover {
    background: #f9fafb;
}

.Active {
    background: #f9fafb;
}

.Checkbox {
    width: 16px;
    height: 16px;
    border-radius: 9999px;

    border: 1.5px solid #d1d5db;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.Checked {
    border-color: #111827;
    background: #111827;
}

.CheckIcon {
    font-size: 10px;
    color: #fff;
    opacity: 0;
}

.Checked .CheckIcon {
    opacity: 1;
}

.Text {
    font-size: 14px;
    color: #111827;
}

.CheckedText {
    font-weight: 600;
}
