/* =========================
   FILE: bar 형태
========================= */

.FileBar {
    width: 100%;
    height: 40px;

    padding: 7px 16px;

    border: 1px solid var(--Gray5);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--White1, #fff);
}

.FileBarLeft {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 0;
}

.FileBarName {
    font-size: 14px;
    font-weight: 400;

    color: var(--Black1);

    min-width: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.FileBarSize {
    font-size: 14px;
    font-weight: 400;
    color: var(--Gray2);
    flex: 0 0 auto;
}

.FileBarRemove {
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 999px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: var(--Gray2);
    cursor: pointer;
}

.RemoveIcon {
    line-height: 1;
    font-size: 14px;
    color: #fff;
}

/* =========================
   IMAGE: 썸네일 + 캡션 형태
========================= */

.ImageList {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.ImageItem {
    width: 92px;
    aspect-ratio: 1/1;
}

.ImageThumb {
    width: 100%;
    height: 100%;

    border-radius: 14px;
    border: 1px solid var(--Gray5);
    overflow: hidden;

    position: relative;

    background-color: var(--Gray6);
}

.ImageThumbImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ImageRemove {
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 999px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    cursor: pointer;

    position: absolute;
    top: 6px;
    right: 6px;

    .RemoveIcon {
        line-height: 1;
        font-size: 14px;
        color: #000;
    }
}

.ImageCaption {
    margin-top: 8px;
}

.ImageName {
    font-size: 13px;
    font-weight: 500;
    color: var(--Gray2);

    display: block;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
