.Label {
    display: flex;
    flex-direction: column;

    .IconWrapper {
        display: flex;
        align-items: center;
        gap: 10px;

        .TextWrapper {
            display: flex;
            flex-direction: column;
            // gap: 2px;
            .Text {
                font-size: 15px;
                font-weight: 500;
                color: var(--Gray1);
            }

            .SubText {
                color: var(--Gray2);
                font-size: 13px;
                font-weight: 500;
            }
        }
    }
    // gap: 6px;
    gap: var(--gap, 0);
    margin-bottom: var(--margin-bottom, 0);
}
