.Label {
    display: flex;

    &.Vertical {
        flex-direction: column;
    }
    &.Horizontal {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .Top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .labelWrapper {
        display: flex;
        gap: 12px;
        align-items: center;

        .TextWrapper {
            display: flex;
            flex-direction: column;
            // gap: 2px;
            .Text {
                font-size: 15px;
                font-weight: 500;
                color: var(--Gray1);
            }

            .Required {
                font-size: 15px;
                font-weight: 500;
                color: var(--Red1);
            }

            .SubText {
                color: var(--Gray2);
                font-size: 13px;
                font-weight: 500;
            }
        }
    }
    gap: var(--gap, 0);
    margin-bottom: var(--margin-bottom, 0);
}
// gap: 6px;
// }
