.BaseBox {
    display: flex;

    flex-direction: var(--flex-direction, row);
    align-items: var(--align-items, stretch);
    justify-content: var(--justify-content, start);
    flex-wrap: var(--wrap, nowrap);
    gap: var(--gap, 0);

    width: var(--width, auto);
    max-width: var(--max-width, none);
    height: var(--height, auto);

    padding: var(--padding, 16px 14px);
    margin: var(--margin, 0);

    flex: var(--flex, initial);
    min-width: var(--min-width, 0);
    min-height: var(--min-height, 0);

    background-color: var(--bg, var(--White1));

    border-radius: var(--radius, 8px);
    border: 1px solid var(--border-color, transparent);
}

.Shadow {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
}
