.Item {
    height: 25px;

    border: 1px solid var(--Gray5);
    border-radius: 4px;

    background: var(--Gray7);

    padding: 4px 8px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 13px;
    font-weight: 500;

    color: var(--Gray2);

    cursor: pointer;
}

.Active {
    background: var(--Primary2);
    border-color: var(--Primary1, #2d6cdf);
    color: var(--Primary1, #2d6cdf);
}
