.ScrollContainer {
    width: 100%;
    min-width: 0;
    overflow-x: auto;

    /* ✅ 스크롤은 되는데 스크롤바만 숨기기 */
    overflow-y: auto;

    /* Firefox */
    scrollbar-width: none;

    /* IE, Edge (Legacy) */
    -ms-overflow-style: none;

    /* Webkit (Chrome, Safari) */
    &::-webkit-scrollbar {
        display: none;
    }
}
