/* 기능: Main을 덮는 블러 레이어 */
.StaticOverlay {
    position: absolute;
    inset: 0;

    background-color: var(--Gray7);

    /* 항상 최상단으로 */
    z-index: var(--z-overlay, 10002);
    pointer-events: auto;
}

// @media (prefers-color-scheme: light) {
//     .StaticOverlay {
//         background-color: var(--White1);
//     }
// }

// @media (prefers-color-scheme: dark) {
//     .StaticOverlay {
//         background-color: var(--White1);
//     }
// }

.Center {
    /* 중앙 배치 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
}
