/* 기능: Main을 덮는 정적 레이어 */
.StaticOverlay {
    position: fixed;
    inset: 0;

    background-color: var(--Gray7);

    /* 항상 최상단으로 */
    z-index: var(--z-overlay, 10002);
    pointer-events: auto;
}

.Center {
    /* 중앙 배치 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
}
