.Toggle {
    background-color: var(--Gray4);
    width: 39px;
    height: 22px;
    border: none;
    border-radius: 24px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;

    &::before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        top: 50%;
        left: 5px;
        background-color: #fff;
        border-radius: 50%;
        transform: translate(-10%, -50%);
        transition: transform 0.2s;
    }

    &.Active {
        background-color: var(--Primary1);
        &::before {
            transform: translate(75%, -50%);
        }
    }
}
