.BaseColorPicker {
    width: 100%;
    border-radius: 8px;
    padding: 8px 12px;
    height: 46px;
    border: 1px solid var(--Gray5);
    outline: none;

    display: flex;
    align-items: center;
    gap: 10px;

    position: relative;

    background-color: var(--White1);

    &:focus-within {
        border: 1px solid var(--Primary1);
    }
}

.Error {
    border: 1px solid var(--Red1);
    color: var(--Red1);

    .Message {
        color: var(--Red1);
    }
}

.Success {
    border: 1px solid var(--Green1);
    color: var(--Green1);

    .Message {
        color: var(--Green1);
    }
}

.Disabled {
    background-color: var(--Gray6);
}

.ColorInput {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ColorInput:disabled {
    cursor: not-allowed;
}

.ColorInput::-webkit-color-swatch-wrapper {
    padding: 0;
}

.ColorInput::-webkit-color-swatch {
    border-radius: 6px;
    border: 1px solid var(--Gray5);
}

.TextInput {
    border: none;
    outline: none;
    width: 100%;
    height: 18px;
    background-color: inherit;

    font-size: 15px;
    color: var(--Black1);

    &::placeholder {
        color: var(--Gray3);
    }
}

.Prefix {
    flex: 0 0 auto;
    display: inline-flex;
    align-items: center;

    font-size: 15px;
    font-weight: 500;
    color: var(--Black1);

    white-space: nowrap;
}

.Suffix {
    flex: 0 0 auto;
    display: inline-flex;
    align-items: center;

    font-size: 15px;
    font-weight: 500;
    color: var(--Black1);

    white-space: nowrap;
}

.Message {
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    font-size: 13px;
    color: var(--Gray2);
    font-weight: 400;
}
