.sidebar {
    grid-area: sidebar;
    margin: 0;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;

    border-right: 1px solid var(--Gray6);
    white-space: nowrap;
}
