.FlexBox {
    display: flex;

    flex-direction: var(--flex-direction, row);
    align-items: var(--align-items, stretch);
    justify-content: var(--justify-content, start);
    flex-wrap: var(--wrap, nowrap);
    gap: var(--gap, 0);

    width: var(--width, auto);
    max-width: var(--max-width, none);
    height: var(--height, auto);

    padding: var(--padding, 0);
    margin: var(--margin, 0);

    flex: var(--flex, initial);
    min-width: var(--min-width, 0);
    min-height: var(--min-height, 0);
}
