.PageTemplate {
    display: grid;
    grid-template-areas:
        'sidebar subSidebar header'
        'sidebar subSidebar main'
        'sidebar subSidebar footer';
    grid-template-columns: auto auto 1fr; /* ✅ sidebar + subSidebar + main */
    grid-template-rows: auto 1fr auto;

    height: 100vh;
    overflow: hidden; /* ✅ 전체 스크롤 차단 */
    margin: 0;
    padding: 0;
}
