.main {
    grid-area: main;
    position: relative;
    isolation: isolate;
    min-height: 0;
    min-width: 0;
    background-color: var(--background-color, var(--White1));

    /* ✅ fixed 기준을 main으로 바꾸는 핵심 트릭 */
    transform: translateZ(0);
}

.mainScroller {
    padding-top: 64px;

    position: relative;
    min-height: 0;
    min-width: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    // scrollbar-gutter: stable both-edges;
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
    }
}

.noScroll {
    overflow: hidden;
}

.mainRow {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    height: 100%;
}
