.Content {
    background-color: var(--White1);
    border-radius: 8px;
    padding: 8px;
    border: 1px solid var(--Gray5);
    z-index: 10000;
    font-size: 13px;
    font-weight: 400;
    max-height: 300px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #d5d5d5;
        border-radius: 999px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-button {
        display: none;
        width: 0;
        height: 0;
    }
    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}
