.Cell {
    padding: 14px 16px;
    box-sizing: border-box;

    font-size: 15px;
    font-weight: 400;
    color: var(--Black1);

    text-align: center;
    white-space: nowrap;

    /* ✅ 가로줄은 td에 주는게 확실함 */
    border-bottom: 1px solid #e5e7eb;
    background-color: transparent;
}

.Cell:first-child {
    text-align: left;
}
