.UnderlineSearch {
    width: 100%;
    height: 32px;
    padding: 8px 4px;
    border-bottom: 1px solid var(--Primary1);
    display: flex;
    align-items: center;
    gap: 12px;

    .MagnifyIcon {
        fill: var(--Primary1);
        width: 18px;
        height: 18px;
        flex-shrink: 0;
    }

    input {
        width: 100%;
        border: none;
        height: 18px;
        font-size: 15px;
        color: var(--Black1);
        background-color: var(--White1);
        font-weight: 400;
        flex: 1;
        outline: none;

        &::placeholder {
            color: var(--Gray3);
        }
    }

    .XMarkIcon {
        fill: var(--Gray2);
        width: 16px;
        height: 16px;
        flex-shrink: 0;
    }
}
