.Wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    padding: 32px;
    background: var(--White1);
}

.ImageWrapper {
    width: 100%;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--Gray6);
}

.Image {
    background: var(--Gray2);
    display: block;
}

.Content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.Header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
}

.TitleBlock {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.Title {
    font-size: 24px;
    font-weight: 600;
    color: var(--Black1);
}

.FeedbackBlock {
    display: flex;
    flex-direction: column;
}

.FeedbackLabelRow {
    display: flex;
    gap: 6px;
    align-items: center;
}

.FeedbackLabel {
    font-size: 16px;
    font-weight: 400;
    color: var(--Gray2);
}

.FeedbackValue {
    font-size: 16px;
    font-weight: 600;
    color: var(--Gray2);
}

.TagList {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.ExpectedWorkTime {
    font-size: 16px;
    font-weight: 400;
    color: var(--Black1);
}

.RequestButton {
    height: 52px;
    border-radius: 12px;
    background: var(--Primary1);
    border: none;
    cursor: pointer;
    padding: 17px 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--White1);
}

.Divider {
    width: 100%;
}

.Summary {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.SummaryTitle {
    font-size: 15px;
    font-weight: 400;
    color: var(--Gray2);
}

.SummaryRows {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.SummaryRow {
    display: flex;
    gap: 12px;
}

.SummaryLabel {
    font-size: 20px;
    font-weight: 500;
    color: var(--Black1);
}

.SummaryValue {
    font-size: 20px;
    font-weight: 500;
    color: var(--Black1);
}

.SummaryNote {
    font-size: 15px;
    font-weight: 400;
    color: #e88731;
}
