.Cell {
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 400;

    line-height: 120%;
}

// .Cell:first-child {
//     border-top-left-radius: 8px;
//     border-bottom-left-radius: 8px;
// }
// .Cell:last-child {
//     border-top-right-radius: 8px;
//     border-bottom-right-radius: 8px;
// }
