.PageTitle {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-bottom: 42px;
    .Title {
    }

    .Description {
        font-size: 13px;
        color: var(--Gray2);
        text-align: center;
    }
}
