.Line {
    padding: 13px 32px;
    border-bottom: 1px solid var(--Gray6);
    display: flex;
    align-items: center;
    gap: 8px;
    overflow-x: auto;
    flex-wrap: nowrap;
    scrollbar-width: thin; /* Firefox용 */
    scrollbar-color: var(--Gray4) transparent;
}

/* 자식 shrink 방지 */
.Line > * {
    flex: 0 0 auto;
}

/* Chrome, Edge, Safari */
.Line::-webkit-scrollbar {
    height: 2px; /* 가로 스크롤 두께 */
}

.Line::-webkit-scrollbar-track {
    background: transparent;
}

.Line::-webkit-scrollbar-thumb {
    background-color: var(--Gray4);
    border-radius: 4px;
}

.Line::-webkit-scrollbar-thumb:hover {
    background-color: var(--Gray5);
}
