.Trigger {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1.5px solid var(--Gray5);
    background-color: var(--White1);

    outline: none;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.Active {
        background-color: var(--Primary1);
        border: none;
        color: var(--White1);
    }

    &.Disabled {
        background-color: var(--Gray6);
        border: none;
        color: var(--White1);
    }
}
