.Th {
    background-color: var(--Gray6);
    color: var(--Gray1);

    font-size: 14px;
    font-weight: 400;

    padding: 14px 16px;
    box-sizing: border-box;

    text-align: center;
    white-space: nowrap;

    /* ✅ 헤더 아래 가로줄만 유지 */
    border-bottom: 1px solid #e5e7eb;

    /* ✅ 세로줄 제거 */
    border-right: none;
}

.Th:first-child {
    text-align: left;
}
