.Content {
    // background-color: var(--White1);
    // border-radius: 8px;
    // padding: 8px;
    // border: 1px solid var(--Gray5);
    // z-index: 10000;

    // font-size: 13px;
    // font-weight: 400;

    // max-height: 280px;
    // overflow-y: auto;
    // overflow-x: hidden;

    // /* ✅ Firefox */
    // scrollbar-width: thin;
    // scrollbar-color: var(--Gray5) transparent;
}

/* ✅ Chrome, Edge, Safari */
// .Content::-webkit-scrollbar {
//     width: 4px; /* ✅ 스크롤바 두께 */
// }

// .Content::-webkit-scrollbar-thumb {
//     background-color: var(--Gray5); /* ✅ 스크롤 손잡이 색 */
//     border-radius: 999px; /* ✅ 둥글게 */
// }

// .Content::-webkit-scrollbar-track {
//     background: transparent; /* ✅ 트랙 배경 */
// }
