.HoverButton {
    width: var(--width, auto);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 6px;
    padding: var(--padding);
    border: none;
    cursor: pointer;

    > span {
        font-size: 13px;
        font-weight: 500;
        color: var(--Gray2);
    }

    &:hover {
        background-color: var(--Gray5);
        > span {
            color: var(--Gray1);
        }
    }
}
