.PasswordInput {
    position: relative;

    .Icon {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        cursor: pointer;
        color: var(--Gray2);
    }
}
