.scrollArea {
    width: 100%;
    padding-bottom: 10px;
    display: grid;
    overscroll-behavior: auto;
    overflow: auto; /* 스크롤 동작 유지 (x, y 둘 다) */
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Edge (WebKit) */
.scrollArea::-webkit-scrollbar {
    display: none;
}
