.Slot {
    min-width: 0;
    display: inline-flex;
    align-items: center;
}

.AlignLeft {
    justify-content: flex-start;
}

.AlignCenter {
    justify-content: center;
}

.AlignRight {
    justify-content: flex-end;
}
