.SideModalMain {
    box-sizing: border-box;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #d5d5d5;
        border-radius: 999px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    .MainWrapper {
        min-height: 0;
        padding: 10px 28px;
    }
}
