.SideModalMain {
    box-sizing: border-box;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        //   background-color : d5d5d5
        background-color: var(--White1);
        border-radius: 999px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    .MainWrapper {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        // TODO : main content 가 길어지면 해당 content 를 다 담지 못함 
        // ex) 매체충전 비고가 길어질시 footer 에 짤림
        // min-height: 100%;
        padding: 10px 28px;
    }
}
