.CategoryWrapper {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.Category {
    cursor: pointer;
    user-select: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.CategoryCheckbox {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background: var(--background-color);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Content {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 8px);
    padding: var(--padding, 0px);
}

.ItemWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    border: none;
    span {
        font-size: 15px;
    }
}

.Item {
    width: 19px;
    height: 19px;
    border-radius: 4px;
    background-color: var(--background-color, var(--Gray5));
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color, var(--Gray5));
    outline: none;
    cursor: pointer;
}
