.GridBox {
    display: grid;
    grid-template-columns: repeat(var(--cols, 12), minmax(0, 1fr));
    row-gap: var(--row-gap, var(--gap, 12px));
    column-gap: var(--col-gap, var(--gap, 12px));

    width: var(--width, 100%);
    max-width: var(--max-width, none);
    height: var(--height, auto);

    padding: var(--padding, 0);
    margin: var(--margin, 0);

    flex: var(--flex, initial);
    min-width: var(--min-width, 0);
    min-height: var(--min-height, 0);
}
