.StrongIconLabel {
    display: inline-flex;
    align-items: center;

    /* ✅ 모든 간격은 변수로 통일 */
    gap: var(--label-gap, 12px);

    color: var(--Gray1);
    font-size: 20px;
    font-weight: 500;
}

.Row {
    flex-direction: row;
}

.Column {
    flex-direction: column;
    align-items: flex-start;
}

.Icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    font-size: 24px;
}

.Text {
    line-height: 1;
}

.LabelWarpper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .LabelLine {
        display: inline-flex;
        align-items: center;
        gap: 12px; /* ✅ fallback */
    }
}

.Content {
    min-width: 0;
    width: 100%;
}
