.Root.Root {
    display: flex;
    width: 100%;
    min-width: 0;
    box-shadow: none;

    :global {
        .rdp {
            width: 100%;
        }

        .rdp-months {
            width: 100%;
            justify-content: center;
        }

        .rdp-month {
            width: 100%;
        }

        .rdp-month_grid {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
        }

        .rdp-weekday,
        .rdp-day {
            width: calc(100% / 7);
        }
    }
}
