.Sidebar {
    grid-area: Sidebar;
    min-width: 0;
    height: 100vh;
    border-right: 1px solid var(--granter-gray-200);
    background-color: var(--granter-white);
    overflow: hidden;
}

@media (max-width: 640px) {
    .Sidebar {
        display: none;
    }
}
