.Th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--White1);

    text-align: left;
    box-sizing: border-box;
    font-size: 15px;
    color: var(--Gray2);
    font-weight: 400;

    line-height: 120%;
}

.Th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.Th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
