.ImageTagItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .ImageContainer {
        width: 100%;
        aspect-ratio: 1/1;
        border: 1px solid var(--Gray6);
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        background: var(--Gray7);
    }

    .Image {
        position: absolute;
        inset: 0;
        z-index: 1;
    }

    .CheckBoxWrapper {
        position: absolute;
        top: 8px;
        left: 8px;
        z-index: 2;
    }

    .InfoContainer {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .Title {
            color: var(--Black1);
            font-size: 16px;
            font-weight: 600;
            line-height: 1.2;

            .Count {
                color: var(--Gray1);
                font-weight: 400;
            }
        }

        .SubTitle {
            color: var(--Gray1);
            font-size: 14px;
            font-weight: 400;
            line-height: 1.3;
        }
    }

    .TagContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;

        .Tag {
            font-size: 12px;
            font-weight: 500;
            padding: 4px 8px;
            border-radius: 4px;
            background-color: var(--Gray5);
            line-height: 1;
        }
    }
}
