.ModalTemplateHeader {
    flex: 0 0 auto;

    border-bottom: 1px solid var(--Gray5);
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .TopRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
    }

    .SubTitle {
        font-size: 15px;
        font-weight: 400;
        color: var(--Gray2);
    }
    .Title {
        font-size: 24px;
        font-weight: 600;
        color: var(--Black1);
    }
    .TitleInput {
        height: 30px;
        font-size: 24px;
        box-sizing: border-box;
        font-weight: 600;
        color: var(--Gray2);
        border: none;
        outline: none;

        &::placeholder {
            color: var(--Gray3);
        }
    }

    .CloseButton {
        all: unset;
        box-sizing: border-box;
        width: 28px;
        height: 28px;
        border-radius: 6px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--Gray2);
        cursor: pointer;

        &:hover {
            background-color: var(--Gray5);
            color: var(--Gray1);
        }
    }
}
