.Aside {
    grid-area: Aside;
    min-width: 0;
    height: 100vh;
    border-left: 1px solid var(--granter-gray-200);
    background-color: var(--granter-white);
    overflow: hidden;
}

@media (max-width: 1280px) {
    .Aside {
        display: none;
    }
}
