.RightDrawerContent {
    top: 0;
    right: 0;
    left: auto;
    transform: translateX(100%);
    border-radius: 0;
    transition: transform 0.25s ease;
}

.RightDrawerContent[data-open='true'] {
    transform: translateX(0);
}
