.AgreementCheckBox {
    // background-color: var(--White1);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 0;
    font-size: 15px;
}

.AllChecked {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    padding: 0 8px;
}

.ChekedListWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid var(--Gray5);
    border-top: 1px solid var(--Gray5);
    padding: 24px;
}

.InfoText {
    width: 536px;
}

.Item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Right,
    .Left {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .Action {
        border: none;
        cursor: pointer;
        text-decoration: underline;
    }
}
