.ToggleSearchInput {
    position: relative;
    width: 100%;
    height: 35px; // 높이 봐서 조정
    overflow: hidden;

    .SearchInput {
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        transform: translateX(100%);
        background-color: var(--White1);
        opacity: 0;
        pointer-events: none;
        gap: 8px;
        transition: transform 200ms ease-out, opacity 150ms ease;

        &.Active {
            transform: translateX(0);
            opacity: 1;
            pointer-events: auto;
        }
    }

    .MagnifyIcon,
    .ArrowIcon {
        width: 20px;
        height: 20px;
        display: block;
        fill: var(--Gray1);
    }
}
