.Item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--Gray5);
    border-radius: 8px;
    padding: 14px 15px;
    height: 46px;
    flex-wrap: nowrap;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    color: var(--Gray2);
    flex: 1;

    &.Active {
        background-color: var(--Primary1);
        color: var(--White1);
    }
}
