.StrongIconLabel {
    display: inline-flex;
    align-items: center;
    gap: var(--label-gap, 10px);

    color: var(--Gray1);
    font-size: 16px;
    font-weight: 600;
}

.Row {
    flex-direction: row;
}

.Column {
    flex-direction: column;
    align-items: flex-start;
}

.Icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
    font-size: 20px;
}

.Text {
    line-height: 1;
}

.LabelLine {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.Content {
    min-width: 0;
    width: 100%;
}
