.ImageDropzoneContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ImageDropzone {
    width: 100%;
    // padding: 24px;
    padding: 20px 22px;
    border: 1px dashed var(--Gray3);
    outline-offset: -2px;
    border-radius: 12px;
    background-color: inherit;

    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-between;

    z-index: 100;

    .Left {
        display: flex;
        gap: 6px;
    }

    img {
        width: 45px;
        height: 45px;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        color: var(--Gray2);
    }
}
.HelperText {
    font-size: 13px;
    font-weight: 500;
    color: var(--Gray2);
}
