.DescriptionBox {
    border: 1px solid var(--Gray5);
    border-radius: 8px;
    height: var(--height, auto);
    background-color: var(--background-color, #fff);
    padding: 14px 20px;
    box-sizing: border-box;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #d5d5d5;
        border-radius: 999px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
}
