.InputWrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
    align-items: center;
}

.Selected {
    background: var(--Gray6);
    border: 1px solid var(--Gray5);
}

.Selected input {
    color: var(--Gray1);
}
